@keyframes bounceIn {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    60% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  